@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 14% 97%;
    --foreground: 152 75% 8%;
    --card: 0 0% 100%;
    --card-foreground: 152 75% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 152 75% 8%;
    --primary: 152 75% 8%;
    --primary-foreground: 34 28% 94%;
    --secondary: 152 75% 8% / 0.04;
    --secondary-foreground: 152 75% 8%;
    --muted: 152 75% 8% / 0.04;
    --muted-foreground: 140 7% 51%;
    --accent: 140 100% 80%;
    --accent-foreground: 152 75% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 152 75% 8% / 0.06;
    --input: 152 75% 8% / 0.1;
    --ring: 147 55% 23%;
    --radius: 0.875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
